label{
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
}

h1{
  text-align: center;
}

input{
  width: 51%;
  height: 30px;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

input:focus{
  outline: none;
  border: 1px solid red;
}


textarea{
  margin-bottom: 10px;
  resize: none;
  font-size: 1rem;
  font-family: 'Times New Roman', Times, serif;
}

textarea:focus{
  outline: none;
  border: 1px solid red;
}


.formCotainer{
  margin-top: 25px;
  padding: 20px;
  margin-right: 25%;
  margin-left: 25%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
